openapi: 3.0.2
info:
  version: 0.1.0
  title: QRapid API
  termsOfService: 'https://qrapid.io/terms/'
  contact:
    name: QRapid Support
    email: api@qrapid.io
    url: 'https://qrapid.io/support'
  license:
    name: Proprietary
  description: |
    # QRapid API

    QRapid lets you generate, manage, and track static and dynamic QR codes
    programmatically. This reference documents the REST API.

    ## Authentication

    All endpoints accept two authentication methods — use whichever fits your use case:

    ### Firebase ID Token

    For web and mobile clients using the Firebase SDK:

    ```
    Authorization: Bearer <firebase-id-token>
    ```

    Tokens expire after 1 hour. Refresh them automatically using the Firebase SDK.

    ### API Key

    For server-to-server integrations and CI/CD pipelines where the Firebase SDK
    is impractical. API keys are long-lived and provisioned via the QRapid dashboard:

    ```
    Authorization: Bearer sk_live_<your-api-key>
    ```

    Treat API keys as secrets. Do not expose them in client-side code or public
    repositories. Rotate compromised keys immediately from the dashboard.

    ## Errors

    Error responses use [RFC 7807 Problem Details](https://www.rfc-editor.org/rfc/rfc7807)
    with `Content-Type: application/problem+json`.

servers:
  - url: 'https://api.qrapid.io/v1'
    description: Production
  - url: 'http://localhost:8080/v1'
    description: Local development

tags:
  - name: QR Codes
    description: Generate and manage static QR codes (URL and plain text).
  - name: Dynamic QR Codes
    description: >
      Create and manage dynamic QR codes. The QR image encodes a QRapid short URL
      that redirects to an editable destination — update the destination at any time
      without reprinting.
  - name: Assets
    description: Upload reusable assets (logos) for QR code branding.
  - name: Folders
    description: Create and manage project folders for organising QR codes.

paths:
  /qr-codes:
    $ref: paths/qr-codes.yaml
  '/qr-codes/{id}':
    $ref: 'paths/qr-codes@{id}.yaml'
  /dynamic-qr-codes:
    $ref: paths/dynamic-qr-codes.yaml
  '/dynamic-qr-codes/{id}':
    $ref: 'paths/dynamic-qr-codes@{id}.yaml'
  /assets/logo:
    $ref: paths/assets-logo.yaml
  /folders:
    $ref: paths/folders.yaml
  '/folders/{id}':
    $ref: 'paths/folders@{id}.yaml'

components:
  securitySchemes:
    firebase_jwt:
      $ref: components/securitySchemes/firebase_jwt.yaml
    api_key:
      $ref: components/securitySchemes/api_key.yaml
